.content {
    position: relative;
    top: 30%;
    z-index: 2;
    margin: 0 auto;
    max-width: 720px;
    text-align: center;
  }
  
  .content__heading {
    margin-bottom: 24px;
    color: #272727;
    font-size: 44px;
  }
  
  .content__teaser {
    margin-bottom: 24px;
    color: #595959;
    font-size: 22px;
  }
  
  .content__cta {
    display: inline-block;
    margin: 0;
    padding: 12px 48px;
    color: #ff3c64;
    font-size: 22px;
    text-decoration: none;
    border: solid 4px #ff3c64;
  }

  .video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

#background-video {

    position: fixed;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

    z-index: -100;

}

 

div {

    display: block;

}

 

body * {

    box-sizing: border-box;

}

 

#background-video .poster {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background-position: center center;

    background-repeat: no-repeat;

    background-size: cover;

    z-index: -100;

}

 

body.home #background-video video {

    display: none;

    position: absolute;

    top: 50%;

    left: 50%;

    height: 120%;

    transform: translateX(-50%) translateY(-50%);

}

.video-section .pattern-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 496px; 
}



.video-section .buttonBar{
    display: none;
}

header {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header-description {
    color: white;
}

#conference-description {
    color: white;
}

.layer {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 92%;
}

#header-title {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 50px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.button-link {
    display: inline-block;
    height: auto;
    margin-top: 40px;
    padding: 0.8em 1.2em;
    color: #000;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    text-shadow: none;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 4px 4px rgba(0,0,0,0.1);
}

.button-link:visited {
    text-decoration:none;
}

.button-link:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0275d8), color-stop(1, #0275d8));
    background:-moz-linear-gradient(top, #0275d8 5%, #0275d8 100%);
    background:-webkit-linear-gradient(top, #0275d8 5%, #0275d8 100%);
    background:-o-linear-gradient(top, #0275d8 5%, #0275d8 100%);
    background:-ms-linear-gradient(top, #0275d8 5%, #0275d8 100%);
    background:linear-gradient(to bottom, #0275d8 5%, #0275d8 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0275d8', endColorstr='#0275d8',GradientType=0);
    background-color:#0275d8;
    text-decoration:none;
    color:#EFEAE1;
}

.button-link:active {
    text-decoration: none;
    position:relative;
    top:1px;
}

#castle-section, #wedding-section, #footer {
    text-align: center;
    padding: 35px;
}

#castle-section {
    background-color: #EBEBEB;
}

#wedding-section {
    background-color: #F8F8F8;
}

#castle, #wedding {
    min-height: 200px;
    position: relative;
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

#castle {
    background-image: url("../img/overview1.png");
}

#wedding {
    background-image: url("../img/overview2.png");
}

#castle-content h3, #wedding-content h3{
    color: #0275d8;
    font-weight: 750px;
}

h2 {
    font-size: 20px;
}

body {
    font-family: 'Libre Franklin', 'Raleway', 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

.top-container {
    position: fixed;
    height: 90%;
    width: 100%; 
}

.castle-paragraph .wedding-paragraph {
    font-size: 18px;
}

.jumbotron-main {
    min-height: 500px;
    min-width: 100%;
    padding-top: 5%;
    padding-bottom: 25%;
    background-image: url(../img/clouds.jpeg);
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0px;
}

.jumbotron-venue {
    min-height: 500px;
    min-width: 100%;
    padding-top: 15%;
    padding-bottom: 25%;
    background-image: url(../img/clouds.jpeg);
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0px;
}

#ccsk {
    background-image: url(../img/conifers.jpg);
    padding-bottom: 10%;
    background-position: top;
}

@media (min-width: 320px) {
    #castle #wedding {
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    #header-title {
        font-size: 80px;
    }

    .button-link {
        font-size: 20px;
    }

    #castle, .event {
        height: 350px;
        background-size: 300px;
    }

    img {
        max-width: 300px;
    }  

    #castle-content {
        padding-right: 50px;
        text-align: left;
    }

     .event-content {
        padding-left: 50px;
        text-align: left;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    span {
        font: Helvetica
    }

    .jumbotron-venue {
        padding-top: 5%;

    }
}

@media (min-width: 1024px) {
    #header-title {
        font-size: 95px;
    }

    #castle .event {
        max-width: 350px;
    }

    #castle-content, .event-content {
        padding-top: 40px;
    }

    h2 {
        font-size: 40px;
    }
}